body {
    background: rgb(240,68,240);
    background: linear-gradient(90deg, rgba(240,68,240,1) 0%, rgba(0,212,255,1) 100%);
}

.window {
    width: 20rem;
    height: 25rem;
    background-color: #FFFFFF;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.bar {
    position: relative;
    width: 100%;
    height: 15%;
    background: rgb(240,68,240);
    background: linear-gradient(90deg, rgba(240,68,240,1) 0%, rgba(0,212,255,1) 100%);
    
}

.mainText {
    font-size: 1.15rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    white-space: nowrap;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 4%;
}

.btn {
    font-size: 20px;
    background-color: #00d4ff;
    position: absolute;
    top:80%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.inputs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


